.content-container > div img {
    width: 98%;
    border-radius: 20px;
    border: 5px double;
}

.content-container {
    padding: 20px;
}

.content-container h2.title {
    font-size: 1,5em;
}

@media screen and (min-width: 972px) {
    .content-container > div img {
        width: 50%;
    }
}